flows.json
[
    {
        "id": "1e5b0931d18afcd3",
        "type": "tab",
        "label": "tutorial02",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d44e4edf997e5588",
        "type": "ui_text",
        "z": "1e5b0931d18afcd3",
        "group": "a0ec4fa9449efb36",
        "order": 1,
        "width": "27",
        "height": "2",
        "name": "",
        "label": "<font size=10>Smart Building Monitoring System",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "0f4d54808fe2618e",
        "type": "ui_text",
        "z": "1e5b0931d18afcd3",
        "group": "b21d11b1293ac4fb",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "",
        "label": "Temperature",
        "format": "<font size=8>{{msg.payload.temp}}℃",
        "layout": "col-center",
        "className": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "15a1bb13751746f5",
        "type": "ui_text",
        "z": "1e5b0931d18afcd3",
        "group": "b21d11b1293ac4fb",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "",
        "label": "Humidity",
        "format": "<font size=10>{{msg.payload.hum}}%",
        "layout": "col-center",
        "className": "",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "5e805a1e43894815",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 160,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "d4da0f262d2fdfd8",
        "type": "function",
        "z": "1e5b0931d18afcd3",
        "name": "split_str",
        "func": "var data = msg.payload.split(\",\");\n// to remove escape character \\n\ndata[3] = data[3].replace(/[\\r\\n]/gm, '');\n\nreturn{\n    payload:{\n        temp: data[0],\n        hum: data[1],\n        co2: data[2],\n        tvoc: data[3],\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 200,
        "wires": [
            [
                "0f4d54808fe2618e",
                "15a1bb13751746f5",
                "6068404f80a8ae56",
                "8ed6227e2eabb0ed",
                "28d03a771411df62"
            ]
        ]
    },
    {
        "id": "6068404f80a8ae56",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "1d4b38c1e2d88b9a",
        "type": "comment",
        "z": "1e5b0931d18afcd3",
        "name": "BSP_Kepler_v3",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "8ed6227e2eabb0ed",
        "type": "ui_text",
        "z": "1e5b0931d18afcd3",
        "group": "b21d11b1293ac4fb",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "",
        "label": "CO2",
        "format": "<font size=8>{{msg.payload.co2}}ppm",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "28d03a771411df62",
        "type": "ui_text",
        "z": "1e5b0931d18afcd3",
        "group": "b21d11b1293ac4fb",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "",
        "label": "TVOC",
        "format": "<font size=10>{{msg.payload.tvoc}}ppb",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "20d253059750d465",
        "type": "function",
        "z": "1e5b0931d18afcd3",
        "name": "tts",
        "func": "msg.payload = \"안녕하세요. 실내환경정보를 안내해드리겠습니다.\" + \n\"현재 온도는\" + msg.payload.temp + \"도 이며,\" + \n\" 습도는 \" + msg.payload.hum + \"퍼센트 입니다. 감사합니다.\"\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "5da11cfbe870fa6c",
                "d45bc9d89ba5acc9"
            ]
        ]
    },
    {
        "id": "5da11cfbe870fa6c",
        "type": "ui_audio",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "group": "b21d11b1293ac4fb",
        "voice": "Microsoft Heami - Korean (Korean)",
        "always": "",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "b06f5d62b1dbed3f",
        "type": "inject",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "04acf79e2b0de80c"
            ]
        ]
    },
    {
        "id": "bb051e3ad5897e5d",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "e5265bcd56d7e402",
        "type": "function",
        "z": "1e5b0931d18afcd3",
        "name": "split_str",
        "func": "var data = msg.payload.split(\",\");\n// to remove escape character \\n\ndata[3] = data[3].replace(/[\\r\\n]/gm, '');\n\nreturn{\n    payload:{\n        temp: data[0],\n        hum: data[1],\n        co2: data[2],\n        tvoc: data[3],\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "20d253059750d465",
                "505c66d33ba6f0bc"
            ]
        ]
    },
    {
        "id": "04acf79e2b0de80c",
        "type": "serial request",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "serial": "97742612819ecfd8",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "e5265bcd56d7e402",
                "bb051e3ad5897e5d"
            ]
        ]
    },
    {
        "id": "505c66d33ba6f0bc",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "d45bc9d89ba5acc9",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 380,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "ff533d3b58ec9a0c",
        "type": "serial in",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "serial": "97742612819ecfd8",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "5e805a1e43894815",
                "d4da0f262d2fdfd8"
            ]
        ]
    },
    {
        "id": "230177d3ee02fdea",
        "type": "ui_button",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "group": "d6cec6ac5679f4c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "1",
        "topicType": "msg",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "3b6a63ddaad80164",
                "974cf3f5be3bf18c",
                "3aafdc00fa961917"
            ]
        ]
    },
    {
        "id": "7c9ec568659f9f29",
        "type": "ui_button",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "group": "d6cec6ac5679f4c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "0",
        "topicType": "msg",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "3b6a63ddaad80164",
                "a955e57f631f3de6",
                "974cf3f5be3bf18c"
            ]
        ]
    },
    {
        "id": "974cf3f5be3bf18c",
        "type": "serial out",
        "z": "1e5b0931d18afcd3",
        "name": "",
        "serial": "97742612819ecfd8",
        "x": 270,
        "y": 540,
        "wires": []
    },
    {
        "id": "3b6a63ddaad80164",
        "type": "function",
        "z": "1e5b0931d18afcd3",
        "name": "check_status",
        "func": "if(msg.payload=='1'){\n    msg.payload = \"ON\";\n} else{\n    msg.payload = \"OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 600,
        "wires": [
            [
                "5db8f9f7ea3f23f9",
                "ea2fc533ea9a9089"
            ]
        ]
    },
    {
        "id": "5db8f9f7ea3f23f9",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 560,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "a955e57f631f3de6",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 640,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "ea2fc533ea9a9089",
        "type": "ui_text",
        "z": "1e5b0931d18afcd3",
        "group": "d6cec6ac5679f4c3",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED Status",
        "format": "<font size=6>{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "3aafdc00fa961917",
        "type": "debug",
        "z": "1e5b0931d18afcd3",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 500,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "a0ec4fa9449efb36",
        "type": "ui_group",
        "name": "IoT Sensor",
        "tab": "26c0aeb8135d7b78",
        "order": 1,
        "disp": true,
        "width": "35",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b21d11b1293ac4fb",
        "type": "ui_group",
        "name": "IoT Current Sensor",
        "tab": "26c0aeb8135d7b78",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97742612819ecfd8",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d6cec6ac5679f4c3",
        "type": "ui_group",
        "name": "LED Button",
        "tab": "26c0aeb8135d7b78",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26c0aeb8135d7b78",
        "type": "ui_tab",
        "name": "Home_IoT",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]