tutorial01.json
[
    {
        "id": "21cef1e8c6d4b005",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "901c0d84197fb702",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "c62af704aa15012f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AIoT Data Monitoring System",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "109938363b3e95fc",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "73e64a1a7a702afc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "b8c6a2013dc82eab",
        "type": "inject",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "7640d3e3aa94b37b"
            ]
        ]
    },
    {
        "id": "7640d3e3aa94b37b",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "Date Func",
        "func": "var date = new Date();\nmsg.payload = date.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            [
                "109938363b3e95fc",
                "a14a94f3a9d384cc"
            ]
        ]
    },
    {
        "id": "9bcea568a88ddde4",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "b880f354916213e1",
        "order": 1,
        "width": "3",
        "height": "6",
        "name": "",
        "label": "Random Data",
        "format": "<font size=10><font color=yellow>{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "c72fa25d8fe07c6d",
        "type": "inject",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "1951648d798b93e0"
            ]
        ]
    },
    {
        "id": "1e4dfe7355832494",
        "type": "debug",
        "z": "21cef1e8c6d4b005",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "1951648d798b93e0",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "Random Func",
        "func": "var data = Math.floor(Math.random() * 100);\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "1e4dfe7355832494",
                "9bcea568a88ddde4",
                "9d9092ef8e46a329"
            ]
        ]
    },
    {
        "id": "a14a94f3a9d384cc",
        "type": "debug",
        "z": "21cef1e8c6d4b005",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 40,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "7a8bec98d6ecd6dc",
        "type": "comment",
        "z": "21cef1e8c6d4b005",
        "name": "Random Data",
        "info": "",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca45219118daed83",
        "type": "comment",
        "z": "21cef1e8c6d4b005",
        "name": "Date",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "5e7d133026a74bf6",
        "type": "comment",
        "z": "21cef1e8c6d4b005",
        "name": "Weather",
        "info": "",
        "x": 100,
        "y": 440,
        "wires": []
    },
    {
        "id": "f54a361c37943975",
        "type": "inject",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "dd3346da38b7cda7"
            ]
        ]
    },
    {
        "id": "f2f7686df6cc784e",
        "type": "debug",
        "z": "21cef1e8c6d4b005",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 400,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "dd3346da38b7cda7",
        "type": "http request",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=37.511394&lon=127.0796571&appid={API KEY}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 480,
        "wires": [
            [
                "f2f7686df6cc784e",
                "b9ecbdcd462a06fc",
                "86049ee17dd81a69",
                "51d5dd18cbbe6d5d",
                "f11968f2fd2b9103",
                "77cb1348c72fb759",
                "b5e4b8d5c66c9275",
                "b56a375cfebede31"
            ]
        ]
    },
    {
        "id": "b9ecbdcd462a06fc",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_location",
        "func": "var data = msg.payload;\nvar location = data.name;\nmsg.payload = location;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "4d918f05d8b4f9ab"
            ]
        ]
    },
    {
        "id": "86049ee17dd81a69",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_weather",
        "func": "var data = msg.payload;\nvar weather = data.weather[0].main;\nmsg.payload = weather;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "94d7da4f269309c7"
            ]
        ]
    },
    {
        "id": "4d918f05d8b4f9ab",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "74accb0cce2106e1",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "94d7da4f269309c7",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "74accb0cce2106e1",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Weather Summary",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "51d5dd18cbbe6d5d",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "74accb0cce2106e1",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "API",
        "format": "https://openweathermap.org/",
        "layout": "row-left",
        "className": "",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "f11968f2fd2b9103",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_temp",
        "func": "var data = msg.payload;\nvar temp = data.main.temp;\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 560,
        "wires": [
            [
                "91b641a8583ccc29",
                "f0fa31203ae35c3a"
            ]
        ]
    },
    {
        "id": "91b641a8583ccc29",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "867c0ddc9346ea4c",
        "order": 1,
        "width": "3",
        "height": "4",
        "name": "",
        "label": "Temperature",
        "format": "<font size=6><font color=blue>{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "9d9092ef8e46a329",
        "type": "ui_gauge",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "b880f354916213e1",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Random Data Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "77cb1348c72fb759",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_windSpeed",
        "func": "var data = msg.payload;\nvar wd = data.wind.speed;\nmsg.payload = wd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 680,
        "wires": [
            [
                "28a3fa19c890713c"
            ]
        ]
    },
    {
        "id": "b5e4b8d5c66c9275",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_humidity",
        "func": "var data = msg.payload;\nvar humidity = data.main.humidity;\nmsg.payload = humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 640,
        "wires": [
            [
                "e6f4e8350f6c582e"
            ]
        ]
    },
    {
        "id": "e6f4e8350f6c582e",
        "type": "ui_gauge",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "86f5b7e3f8c2482d",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "28a3fa19c890713c",
        "type": "ui_gauge",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "966cdc770556b6af",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "compass",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 690,
        "y": 680,
        "wires": []
    },
    {
        "id": "b56a375cfebede31",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_pressure",
        "func": "var data = msg.payload;\nvar pressure = data.main.pressure;\nmsg.payload = pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            [
                "75a94f2e7cbb6d16"
            ]
        ]
    },
    {
        "id": "75a94f2e7cbb6d16",
        "type": "ui_gauge",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "f61ef9a681bd16af",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "Pressure",
        "label": "N/m2",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3333",
        "seg2": "6666",
        "className": "",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "23a0cfbe04aa3b58",
        "type": "comment",
        "z": "21cef1e8c6d4b005",
        "name": "Corona",
        "info": "",
        "x": 90,
        "y": 860,
        "wires": []
    },
    {
        "id": "50baf65ff809cdab",
        "type": "inject",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "660f9f31c3c933be"
            ]
        ]
    },
    {
        "id": "660f9f31c3c933be",
        "type": "http request",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://apis.data.go.kr/1790387/covid19HospitalBedStatus/covid19HospitalBedStatusJson?serviceKey={API KEY}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 900,
        "wires": [
            [
                "2ce4060e26588114",
                "b97f885f687371a2",
                "8244ec1fd037e007"
            ]
        ]
    },
    {
        "id": "2ce4060e26588114",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_itsv_bed_opr",
        "func": "var data = msg.payload;\nvar itsv_bed_opr = data.response.result[0].itsv_bed_opr;\nmsg.payload = itsv_bed_opr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 920,
        "wires": [
            [
                "f62f6c6c50c156ec"
            ]
        ]
    },
    {
        "id": "f62f6c6c50c156ec",
        "type": "ui_gauge",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "a25dcdbe06b7d860",
        "order": 2,
        "width": "5",
        "height": "4",
        "gtype": "donut",
        "title": "중환자 병상 가동률",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "b97f885f687371a2",
        "type": "debug",
        "z": "21cef1e8c6d4b005",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 840,
        "wires": [],
        "info": "hello "
    },
    {
        "id": "8244ec1fd037e007",
        "type": "function",
        "z": "21cef1e8c6d4b005",
        "name": "get_itsv_bed_avlb",
        "func": "var data = msg.payload;\nvar itsv_bed_opr = data.response.result[0].itsv_bed_avlb;\nmsg.payload = itsv_bed_opr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 960,
        "wires": [
            [
                "63d2f6fedd8f010d"
            ]
        ]
    },
    {
        "id": "63d2f6fedd8f010d",
        "type": "ui_gauge",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "a25dcdbe06b7d860",
        "order": 3,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "중환자 병상 가용병상수",
        "label": "개(백단위)",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5000/3",
        "seg2": "5000/3*2",
        "className": "",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "a6a2a35be12df5e4",
        "type": "ui_text",
        "z": "21cef1e8c6d4b005",
        "group": "a25dcdbe06b7d860",
        "order": 1,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "API",
        "format": "https://www.data.go.kr/iim/api/selectAPIAcountView.do",
        "layout": "row-left",
        "className": "",
        "x": 470,
        "y": 880,
        "wires": []
    },
    {
        "id": "fd2de867f02ce2fd",
        "type": "ui_template",
        "z": "21cef1e8c6d4b005",
        "group": "c84ca753af110188",
        "name": "",
        "order": 1,
        "width": "18",
        "height": "7",
        "format": "<iframe width=\"1400px\" height=\"600px\" id=\"embedded-map\"\n    src=\"https://maps.darksky.net/@radar,37.511394,127.0796571,7?marker=37.511394,127.0796571&amp;linkto=maps\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "2a7fdde33aa67b7b",
        "type": "ui_worldmap",
        "z": "21cef1e8c6d4b005",
        "group": "7b7e257067da432d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "37.511394",
        "lon": "127.0796571",
        "zoom": "12",
        "layer": "EsriC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,AC,TL,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 100,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f0fa31203ae35c3a",
        "type": "ui_chart",
        "z": "21cef1e8c6d4b005",
        "name": "",
        "group": "867c0ddc9346ea4c",
        "order": 2,
        "width": "15",
        "height": "4",
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c62af704aa15012f",
        "type": "ui_group",
        "name": "Title",
        "tab": "5ce4fc0058a840b8",
        "order": 1,
        "disp": false,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73e64a1a7a702afc",
        "type": "ui_group",
        "name": "Time",
        "tab": "5ce4fc0058a840b8",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b880f354916213e1",
        "type": "ui_group",
        "name": "Random",
        "tab": "5ce4fc0058a840b8",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74accb0cce2106e1",
        "type": "ui_group",
        "name": "Current Weather Info",
        "tab": "5ce4fc0058a840b8",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "867c0ddc9346ea4c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "5ce4fc0058a840b8",
        "order": 5,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86f5b7e3f8c2482d",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "5ce4fc0058a840b8",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "966cdc770556b6af",
        "type": "ui_group",
        "name": "Wind Speed",
        "tab": "5ce4fc0058a840b8",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f61ef9a681bd16af",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "5ce4fc0058a840b8",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a25dcdbe06b7d860",
        "type": "ui_group",
        "name": "Crona",
        "tab": "5ce4fc0058a840b8",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c84ca753af110188",
        "type": "ui_group",
        "name": "Darksky",
        "tab": "5ce4fc0058a840b8",
        "order": 11,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b7e257067da432d",
        "type": "ui_group",
        "name": "Worldmap",
        "tab": "5ce4fc0058a840b8",
        "order": 10,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ce4fc0058a840b8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
